/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*Escribe aqui tu codigo */

body {
    color: #797979;
    background: #f2f2f2;
    font-family: 'Ruda', sans-serif;
    font-size: 13px;
    padding: 0px !important;
    margin: 0px !important;   
}  

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.black-bg{
	background: #424A5D;
	border-bottom: 1px solid #343D4E;
}

.header, .footer{
	min-height: 60px;
	padding: 0 15px;
}

.sidebar-toggle-box{
	float: left;
	padding-right: 15px;
	margin-top: 20px;
}

b:hover{
    color: #E26EAB;
    text-decoration: none;
    outline: none;
}

a.logo{
	font-size: 20px;
	color: #fff;
	float: left;
	margin-top: 15px;
}

.logout:hover{
    color: #fff !important;
    background: #E26EAB !important;
}

ul.top-menu > li > .logout{
	color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #9C4C9D !important;
    padding: 5px 15px;
    margin-right: 15px;
    background: #9C4C9D;
    margin-top: 15px;
}

#sidebar {
	width: 210px;
	height: 100%;
	position: fixed;
    z-index: 10;
	background: #424A5D; 
}

#sidebar h5{
	color: #fff;
	font-weight: 700;
}


#sisebar ul li {
	position: relative;
}

.sidebar-menu{
	padding-left: 10px;
}

.fa{
	font-size: 16px;
	padding-right: 7px;
}

.fa-bars{
	color: #fff;
	font-size: 20px;
}

.fa-bars:hover{
    color: #E26EAB;
}

ul.sidebar-menu li{
	line-height: 20px !important;
	margin-bottom: 5px;
	margin-right: 10px;
}

ul.sidebar-menu li a{
	color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus{
	background: #9C4C9D;
    color: #fff;
    display: block;
}

ul li {
	list-style: none;
}

#main-content {
	margin-left: 210px;
}  

.mtbox{
	margin: 80px 0 40px 20px;
}

.box1{
	padding: 15px;
	text-align: center;
	color: #989898;
	border-bottom: 1px solid #989898;
}

.box0 p:hover{
    color: #E26EAB;
}

.box0:hover{
    background: #fff;
    color: #E26EAB;
    border-bottom: 2px solid #B3BAC4;
    border-left: 1px solid #E4E6E4;
    border-right: 1px solid #E4E6E4;

}

.pt-25{
    background: #F2F2F2;
}

.box1 span{
	font-size: 50px;
}

.box1 h3{
	text-align: center;
}

.box0 p {
    text-align: center;
    font-size: 12px;
    color: #F2F2F2;
}

.page-header, .main-video{
	padding: 0 10px; 
	color: #989898;
}

.showback{
	margin: 0 10px 10px 10px;
	padding: 10px 10px 15px 10px;
	border-bottom: 2px solid #B3BAC4;
	border-left: 1px solid #E4E6E4;
	border-right: 1px solid #E4E6E4;
	color: #989898;
}

.ds{
	background: #fff;
	padding-top: 20px;
}

.ds h3 {
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    margin: 0;
    background: #9C4C9D;
    text-align: center;
}

.ds h3:hover{
    background: #E26EAB;
}

.ds .desc {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}

.ds .thumb {
    width: 30px;
    margin: 0 10px 0 20px;
    display: block;
    float: left;
}

.ds i {
	font-size: 12px;
	line-height: 16px;
}

.bg-theme{
	background: #68dff0;
}

.ds .details {
    width: 170px;
    float: left;
}

.ds p > muted {
    font-size: 9px;
    text-transform: uppercase;
    font-style: italic;
    color: #666666;
}

.ds > .desc p {
    font-size: 11px;
}

.ds a {
    color: #68dff0;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.badge {
	background: #68dff0 !important;
}

.fa-clock-o{
	padding-right: 0px;
}

.ds .desc {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}

.ds .thumb {
    width: 30px;
    margin: 0 10px 0 20px;
    display: block;
    float: left;
}

.ds .details {
    width: 170px;
    float: left;
}


/*buttons*/

.wrapper{
	margin-top: 60px;
	padding: 2px 10px;
	color: #797979;
}

/*form-comp*/

.form-panel {
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 3px 2px #aab2bd;
    text-align: left;
}

.mb {
    margin-bottom: 25px;
}

.form-horizontal.style-form .form-group {
    border-bottom: 1px solid #eff2f7;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

label {
    font-weight: 400;
}

/*table*/

.content-panel {
    background: #ffffff;
    box-shadow: 0px 3px 2px #aab2bd;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 10px;
  	border-bottom: 2px solid #B3BAC4;
	border-left: 1px solid #E4E6E4;
	border-right: 1px solid #E4E6E4; border-bottom: 
}

/*galeria*/

.site-min-height {
    min-height: 900px;
}

.mt{
    margin-top: 25px;
}

/*login*/

.form-login {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    background: #68dff0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.btn-block{
	color: #797979;
}

.login-wrap {
    padding: 20px;
}

.login-social-link {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #797979;
}

.registration{
	text-align: center;
	color: #797979;
}


